/* @import url(./reset.css); */
html {
    font-size: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
}
/* 타이틀 */

.title {
    display: flex;
    justify-content: center;
    height: 3.6rem;

    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-align: center;

    color: #000000;
}


.idforgot{
    height: 30rem;
    left : 23rem;
    top : 26rem;

    font-style: normal;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;

}

.vline{
    top: 30rem;
    left:72rem;
    height: 30rem;
    border-right: solid #000000
}


.pwforgot{
    height: 30rem;
    left : 85rem;
    top : 26rem;

    font-style: normal;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;

}

.nameArea {
    width: 35.5rem;
    height: 4rem;
    left: 2rem;
    top: 10.8rem;

    font-size : 1.5rem;
    text-align: left;
}
.name {
        width: 25rem;
        height: 2rem;
        left: 10rem;
        top: 11.5rem;
    
}

.phoneArea {
    width: 35.5rem;
    height: 4rem;
    left: 0rem;
    top: 16.8rem;

    font-size : 1.5rem;
    text-align: left;
}
.phone {
        width: 25rem;
        height: 2rem;
        left: 10rem;
        top: 17.5rem;
    
}
#idforgot_btn {
    width: 25rem;
    height: 4.8rem;
    left: 10rem;
    top: 25rem;

    background: #FFCC00;
    border-radius: 1.1rem;
    border: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
}