/* @import url(./reset.css); */

html {
    font-size: 10px;
}

/* body {
    width: 1440px;
    height: 1024px;
    background-color: ffffff;
    font-family: noto-sans-cjk-kr,sans-serif;
} */

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* 입력창 테두리 */
input {
    background: #FFFFFF;
    border-top : none;
    border-right: none;
    border-left: none;
    border-bottom: 0.1rem solid #EDEDED;
}

/* 라벨 텍스트 */
.label {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* 로고 
#logo {
    position: flex;
    width: 7.6rem;
    height: 7.6rem;
    left: 3.7rem;
    top: 2rem;
}
*/
/* p 태그 텍스트 */
p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #767676;
}

/*입력 공간 지정*/

.inputBox {
    position: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 타이틀 (회원가입) */

.title {
    height: 206px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 4rem;  
    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    color: #000000;
}

/* 이름 */
.nameArea {
    width: 35.5rem;
    height: 8rem;
    left: 54.2rem;
    top: 21.8rem;
}

.name {
    width: 35.5rem;
    height: 5rem;
    left: 0px;
    top: 3.5rem;
}

/* 아이디 */
.idArea {
    width: 35.5rem;
    height: 8rem;
    left: 54.2rem;
    top: 31.6rem;
}

.id {
    width: 35.5rem;
    height: 5rem;
    left: 0px;
    top: 3.5rem;
}

/* 전화번호 */
.phoneArea {
    display: flex;
    flex-direction: column;
    width: 35.5rem;
    height: 8rem;
    left: 54.2rem;
    top: 41.4rem;
}

.phoneArea_under{
    display: flex;
    flex-direction: row;
    width: 35.5rem;
    height: 8rem;
    left: 54.2rem;
    top: 41.4rem;
}

.phoneArea .label {
    width: 10.5rem;
}

.phone {
    width: 20.6rem;
    height: 4.9rem;
    left: 0rem;
    top: 3.5rem;
    
}

.phoneBtn {
    width: 14rem;
    height: 4.9rem;
    left: 21.5rem;
    top: 3.5rem;

    background-color: #FFCC00;
    border-radius: 0.5rem;
    border: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}



/* 비밀번호 */
.passwordArea {
    width: 35.5rem;
    height: 9.6rem;
    left: 54.2rem;
    top: 51.2rem;
}

.password {
    width: 35.5rem;
    height: 4.9rem;
    left: 0px;
    top: 3.5rem;
}

/* 비밀번호 하단 텍스트 */
.passwordArea > p {
    width: 35.5rem;
    height: 1.6rem;
    left: 0rem;
    top: 9rem;
    margin-bottom: 0.5rem;

}

/* 비밀번호 확인 */
.checkPasswordArea {
    width: 35.5rem;
    height: 9.6rem;
    left: 54.2rem;
    top: 62.6rem;

}

.checkPassword {
    width: 35.5rem;
    height: 5rem;
    left: 0px;
    top: 3.5rem;
}

/* 비밀번호 확인 하단 텍스트 */
.checkPasswordArea > p {
    width: 35.5rem;
    height: 1.6rem;
    left: 0rem;
    top: 9rem;

}

/* 계속하기 버튼 */
#sign_up_btn {
    width: 35.5rem;
    height: 4.8rem;
    left: 54.2rem;
    top: 76.6rem;
    margin-top : 3rem;
    background: #FFCC00;
    border-radius: 1.1rem;
    border: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
}

/* 최하단 텍스트 박스 */
#textbox {
    display: flex;
    justify-content: center;
    text-align: center;
}

#textbox > p {
    margin-bottom: 1rem;
}
